/* Lato font from Google */
@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: "Lato", sans-serif;
}

/* Nav Section */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topHead {
  background-image: url("assets/nav/dskp-header.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%; */
  background-repeat: no-repeat;
  height: 122px;
  width: 100%;
}

/* Logo, Search and Login/Registration */
.midHead {
  width: 100%;
  height: 140px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.midHead .container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.headerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  /* background: red; */
  margin-right: auto;
}

.mainSubTitle {
  width: 249px;
  height: 22px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #f5483a;
  margin: 0px;
}

.midHead .mainLogo {
  background-image: url("assets/nav/dskp-logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 307px;
  height: 123px;
  margin-right: auto;
}

.midHead .user {
  display: flex;

  width: 160px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #1e3089;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
}

.midHead .user > * {
  margin: 0 1px;
}

.midHead .userAuth {
  text-decoration: none;
  color: #1e3089;
  font-weight: bold;
}
.midHead .helpBtn {
  width: 136px;
  height: 40px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  margin-right: 16px;
  text-align: center;
  background-color: #f5483a;
}

/* Navbar link */

.navLink {
  background-color: #1e3089;
  width: 100%;
  z-index: 1000;
}
.navLink .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
  width: 65.5%;
}
.navLink .navLinks {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding: 12px 19px;
  display: block;
  flex: 1;
  text-align: center;
}
.linkBox:hover .navLinks {
  background: #f5483a;
  cursor: pointer;
}

/* Nav - Drop Menu */

.navLink .linkBox {
  position: relative;
  margin: 0px -20px;
}

.dropdownMenu {
  visibility: hidden;
  width: 184px;
  height: 0px;
  background-color: #eeeeee;
  border: solid 1px #f5483a;
  padding: 13px 20px 19px 20px;
  position: absolute;
  left: 0;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  overflow: hidden;
  box-sizing: border-box;
}
.linkBox:hover .dropdownMenu {
  visibility: visible;
  height: 213px;
}
.linkBox:hover .regis {
  visibility: visible;
  height: 102px;
}

.dropdownMenu > * {
  display: flex;
  flex-direction: column;
}
.dropdownMenu .dropLinks {
  font-size: 16px;
  color: #f5483a;
  padding: 7px 7px;
  text-decoration: none;
}

/* Home Page Slides */

.slide {
  background-image: url("assets/slide/mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 466px;
  margin: auto;
}

.ourInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ourInfo .textTitle {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  color: #f5483a;
  margin: 24px 0px 8px 0px;
}
.ourInfo .textPara {
  width: 780px;
  height: 54px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-top: 24px;
}

.ourContainer {
  display: flex;
  justify-content: space-around;
  width: 63%;
  margin: 40px 0px 43px 0px;
}

.ourContainer .ourPic {
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 200px;
  padding: 8px 0px 8px 0px;
}

.ourContainer .ourClass .ourPic {
  background-image: url("assets/homeInfo/classes.jpg");
}
.ourContainer .ourHomeTeam .ourPic {
  background-image: url("assets/homeInfo/team.jpg");
}
.ourContainer .ourDifference .ourPic {
  background-image: url("assets/homeInfo/difference.jpg");
}

.ourContainer .ourTitle {
  font-size: 22px;
  font-weight: bold;
  color: #f5483a;
}
.ourContainer .ourText {
  font-size: 14px;
  width: 204px;
  height: 85px;
  margin: auto;
}

.ourMoreInfo {
  margin-bottom: 106px;
  display: flex;
  align-items: center;
  width: 58%;
}
.ourMoreInfo .ourMoreInfoText {
  width: 697px;
  height: 27px;
  font-size: 22px;
  font-weight: bold;
  color: #f5483a;
}
.ourMoreInfo .ourMoreInfoBtn {
  border: none;
  text-transform: uppercase;
  line-height: 31px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  width: 250px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  text-decoration: none;
}

/* About Us */

.aboutUs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.aboutUs .aboutUsPic {
  background-image: url("assets/slide/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 466px;
  margin: auto;
}

.aboutUs .aboutUsInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px 0px 43px 0px;
}

.aboutUs .aboutUsInfoContainer .infoOurTitle {
  height: 29px;
  font-size: 24px;
  font-weight: bold;
  color: #f5483a;
  padding: 0px 0px 6px 0px;
}
.aboutUsInfoMission,
.aboutUsInfoStaff,
.aboutUsInfoDifference {
  padding: 12px 0px;
}
.aboutUs .aboutUsInfoContainer .infoOurText,
.infoOurMoreInfo {
  width: 780px;
  font-size: 16px;
  color: #000000;
}
.aboutUs .aboutUsInfoContainer .infoOurMoreInfo {
  width: 780px;
  height: 68px;
  font-size: 14px;
  font-style: italic;
  color: #000000;
  padding: 16px 0px;
  margin-bottom: 37px;
}
.aboutUs .aboutUsInfoContainer .infoOurMoreInfo .infoOurMoreInfoLinks {
  font-weight: bold;
  color: #1e3089;
  text-decoration: none;
  font-style: normal;
}

/* About Our Team */

.ourTeam {
  margin: 48px auto;
  width: 65%;
}

.ourTeam .ourTeamContainer .ourTeamTitle {
  height: 39px;
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
}
.ourTeam .ourTeamContainer .ourTeamFounderInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.ourTeam .ourTeamContainer .ourTeamFounderInfo > * {
  padding: 8px 12px 19px 0px;
}
.ourTeam .ourTeamContainer .ourTeamFounderInfo .ourTeamFounderText {
  width: 540px;
  height: 190px;
  font-size: 16px;
  color: #000000;
  padding: 8px 0px 0px 12px;
}

.ourTeam
  .ourTeamContainer
  .ourTeamFounderInfo
  .ourTeamFounderPicContainer
  .ourTeamFounderPic {
  background-image: url("assets/ourTeam/founder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 221px;
  height: 202px;
}
.ourTeam .ourTeamMemberPicCap p {
  margin: 0px;
  padding: 4px 10px;
  /* padding: 4px 0px; */
  font-weight: bold;
}
.ourTeam .ourTeamMemberPicCap p:last-child {
  padding: 0px 10px;
  font-style: italic;
  font-weight: normal;
}
.ourTeamMid,
.ourTeamBottom {
  padding: 19px 0px;
}
.ourTeamMid .ourTeamTitle,
.ourTeamBottom .ourTeamTitle {
  font-size: 24px !important;
}

.ourTeamMid .ourTeamMemberInfo,
.ourTeamBottom .ourTeamMemberInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ourTeam .ourTeamMemberPicContainer .ourTeamMemberPic {
  background-image: url("assets/ourTeam/staff.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 221px;
  height: 202px;
  padding: 4px 10px 0px 10px;
}
.ourTeam .ourTeamInfo {
  padding: 32px 0px 57px 0px;
}
.ourTeam .ourTeamInfo .ourTeamInfoText {
  width: 640px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.ourTeam .ourTeamInfo .ourTeamInfoBtn {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 32px;
  margin: 8px 0px;
}

/* About Us Work With Us */

.career .careerPic {
  background-image: url("assets/slide/bridge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 466px;
  background-color: rgba(0, 0, 0, 0.25);
}
.career .careerContainer {
  padding: 32px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.career .careerContainer .careerInfoBox {
  padding: 20px 0px 20px 0px;
}

.careerInfoBox .careerInfoTitle {
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
}
.careerInfoBox .careerInfoText {
  width: 780px;
  font-size: 16px;
}
.careerContainer .careerInfoBox .currentJob {
  font-size: 28px;
}

.careerContainer .careerInfoTextLocation {
  margin-left: 9%;
  display: flex;
  flex-direction: column;
}
.careerContainer .careerInfoTextLocationTitle {
  padding: 24px 0px 8px 0px;
  font-size: 18px;
  font-weight: bold;
}
.careerContainer .careerInfoTextLocationText {
  font-size: 16px;
}

/* About Us - Supporters */
.supportersContainer {
  width: 66%;
  display: flex;
  flex-direction: column;
  margin: 48px auto 96px auto;
  /* background: rebeccapurple; */
}

.supportersTop {
  margin-bottom: 24px;
}
.supportTitle {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
}
.supportTitleText {
  font-size: 16px;
}

.supportersMid {
  display: flex;
  flex-direction: row;
}
.supportLogos {
  background-image: url("assets/compass.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 200px;
  margin-right: 20px;
}
.supportBottomTitle {
  font-size: 22px;
  font-weight: bold;
  color: #f5483a;
  margin-top: 48px;
  margin-bottom: 24px;
}
.supportBottomContainer {
  display: flex;
}
.supportBottomHR {
  margin: 0px 8px 0px 0px;
  /* width: 2px; */
  height: 136px;
  border: solid 1px #f5483a;
}
.supportDonors {
  width: 230px;
  height: 136px;
}

.supportBottomSubTitle {
  margin-top: 2px;
  margin-bottom: 8px;
}
.supportBottomTextTop {
  margin-top: 8px;
  margin-bottom: 0px;
}
.supportBottomTextBottom {
  margin-top: 4px;
  font-style: italic;
}

/* About Us - What People Say */

.peopleSayContainer {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 45px auto 96px auto;
  /* background: rebeccapurple; */
}

.peopleSayTitle {
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
  margin-bottom: 24px;
}

.peopleSayFeedBox {
  width: 100%;
  height: 91px;
  background-color: #1e3089;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 22px;
}

.peopleSayFeedBoxArrow {
  width: 24px;
  height: 24px;
  color: #ffffff;
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  display: flex;
  justify-content: center;
}

.peopleSayFeedText {
  width: 780px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.peopleSayTop {
  display: flex;
  flex-direction: row;
  /* background: blueviolet; */
  width: 90%;
  justify-content: space-between;
}

.peopleSayLeftSec {
  padding-left: 40px;
}
.peopleSayRightSec {
  padding-top: 35px;
}

.peopleSaySubTitles {
  font-size: 24px;
  font-weight: bold;
  color: #f5483a;
  margin-bottom: 6px;
}

.peopleSayMidContainer {
  display: flex;
  flex-direction: column;
  width: 98%;
  align-items: center;
}

.peopleSayText {
  margin-top: 0px;
  width: 540px;
  margin-bottom: 8px;
}

.peopleSayTextCredit {
  margin-top: 8px;
  margin-bottom: 23px;
  font-style: italic;
}

.peopleSayImage {
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 200px;
  /* margin-right: 20px; */
}

.peopleSayRightSec .RightImage {
  background-image: url("assets/whatPeopleSay/kidTop.jpg");
}
.peopleSayLeftBottom .LeftImage {
  background-image: url("assets/whatPeopleSay/homework.jpg");
  margin-right: 20px;
}

.peopleSayMid,
.peopleSayBottom {
  width: 82%;
}

.peopleSayBottomSec {
  display: flex;
  margin-top: 10px;
}

/* AfterSchool Overview */
.overViewContainer {
  display: flex;
  width: 66%;
  flex-direction: column;
  margin: 13px auto 96px auto;
  /* background: rebeccapurple; */
}

.overViewTitle p {
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
  margin-bottom: 24px;
}

.overViewSubTitle p {
  font-size: 22px;
  font-weight: bold;
  color: #f5483a;
  margin-top: 0px;
  margin-bottom: 0px;
}
.overViewSmallContainer {
  display: flex;
  justify-content: space-between;
}

.overViewSubTitleSubTitle {
  font-size: 14px !important;
  font-style: italic;
  color: black !important;
}
.overViewRightSec .overViewTextColumn,
.overViewHR {
  margin-left: 16px;
}
.overViewTextColumnSubTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}

.overViewLeftSec .overViewTextColumnSubTitle {
  margin-top: 46px;
}

.overViewTextColumn .register {
  margin-top: 32px;
}

.registerText {
  margin-bottom: 23px;
}

.overViewTextColumnSubTextDate {
  margin-top: 0px;
}

.overViewTextColumnSubText {
  /* margin-bottom: 0px; */
  width: 460px;
  margin-top: 2px;
}

.moreInfo {
  margin-top: 32px;
}

.overViewRightSec {
  margin-right: 35px;
}

.overViewRightSec .overViewTextColumnSubText {
  width: 300px;
  font-size: 16px;
  color: #000000;
}
.overViewTextColumn .Group {
  margin-top: 8px;
}

.overViewTextColumnSubTextCalendar {
  margin-top: 24px;
  margin-bottom: 23px;
}

.overViewTextColumnBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.overViewTextColumnDate {
  font-size: 14px !important;
  font-style: italic;
  color: black !important;
}

.overViewRightSec .overViewTextColumnSubText {
  margin: 4px 0px 4px 0px;
}
.overViewHR {
  margin: 16px 0px 16px 0px;
  width: 339px;
  /* height: 2px; */
  border: solid 1px #bababa;
}

/* After School - Locations */
.afterSchoolTop {
  display: flex;
  justify-content: space-between;
  width: 66%;
  margin: 48px auto 10px auto;
  padding: 10px 0px;
}

.afterSchoolContainer .afterSchoolTitle {
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
}

.afterSchoolTop .linkBox {
  position: relative;
}

.afterSchoolTop .linkBox:hover .navLinks {
  color: white !important;
}

.afterSchoolTop .linkBox:hover .dropdownMenu {
  height: 278px !important;
}

.afterSchoolTop .dropdownMenu {
  width: 174px;
}
.afterSchoolTop .afterSchoolBtn {
  width: 172px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #979797;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-evenly;
}
.afterSchoolLocationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 65.5%;
  margin: 0px 16.8%;
  /* background: rebeccapurple; */
}
.afterSchoolLocationContainer .afterSchoolLocation {
  padding: 12px 10px 32px 0px;
}
.afterSchoolLocationContainer .first {
  margin-left: -37px;
}
.afterSchoolLocationContainer .second {
  padding: 0px 10px 42px 10px;
}
.afterSchoolContainer
  .afterSchoolLocation
  .afterSchoolLocationInfoColumnContainer {
  display: flex;
}
.afterSchoolLocationInfoColumnContainer .afterSchoolLocationInfoColumn {
  /* background: aliceblue; */
  margin-right: 77px;
}
.afterSchoolLocationInfoColumnContainer .second {
  /* background: aliceblue; */
  margin-right: -35px;
}
.afterSchoolLocationInfoColumnContainer .afterSchoolLocationInfo,
.afterSchoolLocationInfo {
  padding: 13.5px 0px;
  /* margin: 10px 0px; */
}
.secLast {
  padding: 0px 10px 42px 0px;
}
.afterSchoolLocationInfoColumnContainer .last {
  /* padding: 13.5px 0px; */
  margin: 22px 0px;
}
.hrVerticalLine {
  margin: 0px 40px;
  height: 450px;
}
.afterSchoolContainer .afterSchoolLocation .afterSchoolLocationTitle {
  font-size: 24px;
  font-weight: bold;
  color: #f5483a;
  padding: 10px 0px 10.5px 0px;
}
.afterSchoolLocation .afterSchoolLocationInfoTitle {
  font-size: 16px;
  font-weight: bold;
  color: #1e3089;
}
.afterSchoolLocation .afterSchoolLocationInfoText {
  width: 240px;
  height: 57px;
  font-size: 16px;
}

.infoLocationBottomText {
  margin: 0px 16.8% 40px 16.8%;
  font-size: 16px;
  font-style: italic;
}

.infoLocationBottomMap {
  background-image: url("assets/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 940px;
  height: 322px;
  margin: 0px 16.8% 98px 16.5%;
}

/* AfterSchool Location Template - PS17Q */

.PSContainer {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 16px auto 96px auto;
  /* background: rebeccapurple; */
}

.PSAllLocations {
  font-size: 14px;
  font-weight: bold;
  color: #6c6c6c;
  display: flex;
  justify-content: space-around;
  width: 110px;
  height: 24px;
  text-decoration: none;
}
.PSLeftArrow {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
  opacity: 0.54;
}

.PSInnerContainerTop {
  display: flex;
  flex-direction: row;
  /* background: rosybrown; */
  margin-top: 28px;
  justify-content: space-between;
}

.classTopPictures {
  width: 301px;
  height: 164px;
  background-color: rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 8px 10px 0px;
  /* padding: 20px; */
}
.music {
  background-image: url("assets/classes/music.jpg");
}
.language {
  background-image: url("assets/classes/writing.jpg");
}
.visualarts {
  background-image: url("assets/classes/arts.jpg");
}
.performingarts {
  background-image: url("assets/classes/performance.jpg");
}
.sportandfitness {
  background-image: url("assets/classes/sport.jpg");
}
.other {
  background-image: url("assets/classes/other.jpg");
}
.classTopPicText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* line-height: 135px; */
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
.classTopPictures a {
  text-decoration: none;
}

.PSLocationTitle,
.PSLocationSubTitle {
  margin-top: 0px;
}

.PSLocationTitle {
  font-size: 28px;
  font-weight: bold;
  color: #f5483a;
  margin-bottom: 16px;
}

.PSLocationBtn,
.PSLinkBtn {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.PSLocationSubTitle,
.PSSubTitles {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  color: #f5483a;
}
.PSLocationText {
  margin: 0px;
  width: 160px;
  height: 66px;
  font-size: 18px;
}

.PSLocationDropMenuTitle {
  width: 220px;
  height: 32px;
  border: solid 1px #979797;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}
.PSLocationBox {
  position: relative;
}

.PSLocationBox .linkBox:hover .dropdownMenu {
  visibility: visible;
  height: 260px;
}
.PSLocationBox .dropdownMenu {
  width: 221px;
}

.PSLocationBox .linkBox:hover .navLinks {
  color: white !important;
}
.PSDownArrow {
  -ms-transform: rotate(270deg) scale(2); /* IE 9 */
  -webkit-transform: rotate(270deg) scale(2); /* Safari 3-8 */
  transform: rotate(270deg) scale(2);
  opacity: 0.54;
  margin-right: 8px;
}

.PSInnerContainerMid {
  margin: 40px 0px;
  /* background: grey; */
}

.PSLocationImageContainer {
  display: flex;
  justify-content: space-between;
}

.PSLocationImage,
.PSMapImage {
  width: 460px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
}

.PSLocationImage {
  background-image: url("assets/locations/PS17QImage.jpg");
  background: red;
}
.PSMapImage {
  background-image: url("assets/locations/PS17QMap.png");
  display: flex;
}

.AnnouncementBox,
.PSInnerClassInfoBox {
  margin-top: 24px;
}

.PSInfoMidContainer {
  display: flex;
  justify-content: space-between;
}

/* ANOUNCEMENT BOX */

.AnnouncementBox {
  width: 460px;
  height: 255px;
  background-color: #eeeeee;
  border: solid 2px #f5483a;
}

.AnnounceTitle {
  height: 40px;
  background-color: #f5483a;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.AnnounceGeneral,
.AnnounceSchool {
  width: 422px;
  height: 78px;
  font-size: 16px;
  font-weight: bold;
}

.AnnounceSchoolHere,
.AnnounceGeneralHere {
  margin: 0px;
}

.AnnounceGeneral {
  margin: 8px 20px 26px 18px;
}

.AnnounceSchool {
  margin: 16px 20px 26px 18px;
}

.AnnounceLists {
  margin: 0px;
}

/* Announcement box ends */
.PSOutterContainer {
  display: flex;
  justify-content: space-between;
}
.PSClassInfoTitle {
  margin: 0px;
}

.PSClassInfoText {
  width: 219px;
  height: 92px;
  font-size: 14px;
  margin: 40px 0px 27px 0px;
}

.PSClassInfoImage,
.PSContactInfoImage {
  width: 220px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.PSClassInfoImage {
  background-image: url("assets/locations/girlPiano.jpg");
  margin-right: 20px;
  margin-top: 16px;
}

.PSInnerClassInfoBox {
  display: flex;
  flex-direction: column;
}

.PSClassInfoTextBtn {
  width: 219px;
  height: 32px;
}

.PSClassInfoBottom {
  display: flex;
}

.PS17QContactInfo .SiteDirector {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}
.PS17QContactInfo .SiteSupervisor {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}

.PSContactInfoName {
  margin-top: 16px;
  margin-bottom: 7px;
}

.PSContactInnerBox {
  display: flex;
}

.PSContactInfoName {
  font-size: 16px;
  font-weight: bold;
}

.PSContactInfoText {
  margin: 0px;
  width: 220px;
  height: 223px;
  font-size: 14px;
}
.PSContactInfoEmail {
  width: 220px;
  height: 32px;
}

.PSBottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  width: 94%;
}

.PSCalendarText,
.PSReminderText {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 14px;
}

.PSCalendarLink,
.PSReminderLink {
  width: 220px;
  height: 32px;
}

/* Locations - PS85Q */
.PS85QContactInfo .SiteDirector {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}
.PS85QContactInfo .SiteSupervisor {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}

/* Locations - PSIS78QK1 */
.PSIS78QK1ContactInfo .SiteDirector {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}
.PSIS78QK1ContactInfo .SiteSupervisor {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}

.PSIS78QK1LocationText {
  height: auto;
}

.PSIS78QK1LocationText,
.PSIS78Q25LocationText {
  width: 190px;
}

/* Locations - PSIS78Q25 */
.PSIS78Q25ContactInfo .SiteDirector {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}
.PSIS78Q25ContactInfo .SiteSupervisor {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}

/* Locations - PS150Q */

.PS150QContactInfo .SiteDirector {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}
.PS150QContactInfo .SiteSupervisor {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}

.PS150QLocationText {
  width: 178px;
}

/* Locations - PS166Q */
.PS166QContactInfo .SiteDirector {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}
.PS166QContactInfo .SiteSupervisor {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}

/* Locations - PS33ChelseaPrep */
.PS33ChelseaPrepContactInfo .SiteDirector {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}
.PS33ChelseaPrepContactInfo .SiteSupervisor {
  background-image: url("assets/locations/girlPiano.jpg");
  margin: 18px 20px 16px 0px;
}
/* After School - Classes */

/* Top */

.classContainer {
  width: 66%;
  /* background: rebeccapurple; */
  margin: auto;
}

.classTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.classContainer .classTopTitle p {
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
  margin-bottom: 14px;
  margin-top: 45px;
}

.classTopPicContainer {
  width: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classTopPicContainerTOP,
.classTopPicContainerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.classTopPictures {
  width: 301px;
  height: 164px;
  background-color: rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 8px 10px 0px;
  /* padding: 20px; */
}
.music {
  background-image: url("assets/classes/music.jpg");
}
.language {
  background-image: url("assets/classes/writing.jpg");
}
.visualarts {
  background-image: url("assets/classes/arts.jpg");
}
.performingarts {
  background-image: url("assets/classes/performance.jpg");
}
.sportandfitness {
  background-image: url("assets/classes/sport.jpg");
}
.other {
  background-image: url("assets/classes/other.jpg");
}
.classTopPicText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* line-height: 135px; */
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
.classTopPictures a {
  text-decoration: none;
}

/* Bottom */

.classBottom {
  margin-top: 48px;
  margin-bottom: 96px;
}
.classBottomTitle p {
  font-size: 24px;
  font-weight: bold;
  color: #f5483a;
}

.classBottomPicContainer {
  display: flex;
}

.classBottomPicContainer a {
  width: 300px;
  height: 200px;
  display: flex;
  /* flex-direction: row; */
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
#writopiaLab {
  background-image: url("assets/classes/writopia.jpg");
}
#educationArt {
  background-image: url("assets/classes/education.jpg");
}



/* AfterSchool - Classes Template */
.ClassesContainer{
  width: 66%;
  display: flex;
  flex-direction: column;
  margin: 19px auto 46px auto;
  /* background: rebeccapurple; */
}

.AllClassesLinks{
  /* background: red; */
  width: 94px;
  height: 24px;
	font-size: 14px;
	font-weight: bold;
  color: #6c6c6c;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.ClassesLeftArrow{
-ms-transform: scale(2); /* IE 9 */
-webkit-transform: scale(2); /* Safari 3-8 */
transform: scale(2);
opacity: 0.54;

}

.ClassesTopInnerContainer{
  display: flex;
  margin: 24px 0px 16px 0px;
  background: greenyellowf;
}

.ClassesMainTitle{
  margin:0px auto 0px 0px;
	font-size: 32px;
	font-weight: bold;
  color: #f5483a;
  /* background: blue; */

}

.ClassesRightTopText{
  width: 272px;
	height: 34px;
  font-size: 14px;
  margin: 0px 8px 0px 0px;
}

.ClassesRightTop{
  /* background: aliceblue; */
  display: flex;
  align-items: center;
}

.ClassesRightTopLocationBtn{
  width: 220px;
	height: 32px;
	border-radius: 4px;
  background-color: #1e3089;

	font-size: 16px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.ClassesMidInnerContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-between; */
  justify-content: flex-start;
  margin-top: 24px;
  /* background: aqua; */
}

.ClassesBox{
  display: flex;
  flex-direction: column;
  width: 301px;
  margin-right: 26px;
}

.ClassesSubTitle{
  width: 292.7955px;
	height: 32px;
  background-color: #f5483a;
  margin: 0px;
  font-family: Arial;
	font-size: 18px;
	font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 8px;
  /* padding-right: 8px; */

}
.ClassesMidImages{
  width: 301px;
  height: 148px;
  background-repeat: no-repeat;
  background-position: center;
}

.ClassesInnerTextBox{
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.ClassesInnerSubTitle{
  margin: 0px;
  width: 49px;
	height: 17px;
	font-size: 14px;
	font-weight: bold;
}

.ClassesInnerSubText{
  margin: 0px;
  width: 229px;
	height: 32px;
	font-family: Arial;
	font-size: 14px;
}

.ClassesInnerBottomPara{
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 0px;
  width: 288px;
	height: 153px;
	font-size: 14px;
}

/* Afterschool Classes - Music */
.MusicGuiter{
background-image: url("assets/classes/music/music.jpg");

}
.MusicMakingMusic{
background-image: url("assets/classes/music/music.jpg");

}
.MusicKeyboards{
background-image: url("assets/classes/music/music.jpg");

}
.MusicViolin{
background-image: url("assets/classes/music/music.jpg");

}

/* Afterschool Classes - Language */
.languageContainer{
  margin-bottom: 96px;
}
.languageMidInnerContainer{
  justify-content: flex-start;
}
.languageInnerBottomPara{
  height: auto;
}

.languageSpanish{
background-image: url("assets/classes/language/music.jpg");
}

.languageWritopia{
background-image: url("assets/classes/language/music.jpg");
}












/* AfterSchool - Tuition Page */

.tuitionContainer {
  display: flex;
  flex-direction: column;
  margin: 48px auto 156px auto;
  width: 66%;
}

.tuitionMainTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #f5483a;
}

.tuitionInnerTop {
  display: flex;
  justify-content: space-between;
}
.tuitionLeftTitle {
  font-size: 24px;
  font-weight: bold;
  color: #f5483a;
  margin-bottom: 0px;
}

.tuitionTextTitles {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}
.tuitionLeftText {
  margin-bottom: 0px;
}
.tuitionLeftSubTitle,
.tuitionLeftText,
.tuitionLeftMidText,
.tuitionRightText,
.tuitionTextPara,
.tuitionRightCancelSubText {
  font-style: italic;
}

.tuitionLeftText,
.tuitionRightSubTitleText {
  margin-top: 0px;
}

.tuitionLeftClassesTitle {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #1e3089;
}

.tuitionLeftMidTable {
  padding-left: 35px;
  /* width: 24%; */
  /* width: 67%; */
  /* border-collapse: collapse; */
}

.tuitionLeftMidContainer {
  display: flex;
  justify-content: flex-end;
  /* background: rebeccapurple; */
  width: 86%;
}
th {
  display: flex;
  width: 152%;
  justify-content: space-between;
  font-weight: normal;
}
.tuitionTHRightP {
  font-weight: bold;
}
.tuitionTHLeftP,
.tuitionTHRightP {
  margin: 0px;
  color: #f5483a;
}

.MidContainerTopHR {
  width: 240px;
  /* border: solid 1px #f5483a; */
}

.BottomHR th {
  width: 140%;
}
td:last-child {
  text-align: end;
  font-weight: bold;
}

.tuitionLeftMidText {
  width: 300px;
}

.tuitionTextBtn {
  display: flex;
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

/* Right Sec */
.tuitionRightTitle {
  font-size: 18px;
  font-weight: bold;
  color: #f5483a;
  margin-bottom: 0px;
}
.tuitionRightSubTitle,
.tuitionRightCancelSubTitle {
  margin-top: 8px;
}
.tuitionRightSubTitleText {
  margin: 0px;
}
.tuitionRightText {
  margin-top: 4px;
  margin-bottom: 8px;
}

.rightBottom {
  margin-top: 24px;
}

.tuitionRightCancelSubTitle {
  margin-bottom: 8px;
  width: 460px;
  font-size: 16px;
  font-weight: bold;
  color: #1e3089;
}

.tuitionRightCancelSubText {
  width: 460px;
  height: 59px;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 1px;
}

.tuitionInnerBottom .tuitionTextTitles {
  margin-top: 32px;
}

.tuitionTextDate {
  margin: 0px;
}

.tuitionTextPara {
  margin-top: 8px;
  width: 460px;
  height: 38px;
}

.transportationContainer {
  display: flex;
  flex-direction: column;
  width: 66%;
  /* background: rebeccapurple; */
  margin: 48px auto 32px auto;
}
.transportationMainTitle {
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
  margin: 0px 0px 24px 0px;
}

.transportationInnerContainer {
  /* background: green; */
  width: 90%;
  margin: 0 auto;
}

.transportationInnerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.transportationInnerTopText {
  margin-top: 0px;
  width: 540px;
  height: 57px;
  font-size: 16px;
}

.transportationInnerMidTile {
  margin: 8px 0px;
  font-size: 22px;
  font-weight: bold;
  color: #f5483a;
}

.transportationInnerMidText {
  margin-top: 0px;
  width: 540px;
  height: 38px;
}

.transportationInnerContactTitle {
  margin: 0px;
  font-weight: bold;
}

.transportationInnerContactPhone {
  margin-top: 4px;
  margin-bottom: 2px;
}

#transportationContactLink {
  font-weight: bold;
  color: #f5483a;
}
.transportationInnerBottom {
  margin-right: auto;
  margin-left: auto;
  width: 96%;
}

.transportationInnerBottomTitle {
  margin: 28px 0px 8px 0px;
  font-size: 22px;
  font-weight: bold;
  color: #f5483a;
}

.transportationInnerImage {
  background-image: url("assets/schoolBus.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 200px;
  /* margin: 0px 16.8% 98px 16.5%; */
}

.transportationInnerBottomText {
  margin-top: 0px;
  width: 780px;
  height: 38px;
}

.transportationInnerBottomSubText {
  margin-bottom: 32px;
  width: 780px;
  height: 17px;
  font-size: 14px;
  font-style: italic;
}

#transportationAuthorizationBtn {
  display: flex;
  width: 220px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* After School Policies */

.policiesContainer {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 48px auto 293px auto;
  /* background: rebeccapurple; */
}

.policiesMainTitle {
  margin: 0px 0px 32px 0px;
  font-size: 32px;
  font-weight: bold;

  color: #f5483a;
}

.policiesInnerContainer {
  width: 85%;
  margin: auto;
  /* background: gray; */
}

.policiesInnerText {
  margin: 0px 0px 64px 0px;
  width: 780px;
  height: 38px;
  font-size: 16px;
}

#policiesBtn {
  width: 220px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Camps */
.campsContainer {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 48px auto 96px auto;
}

.campsTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 36px;
}

.campsMainTitle {
  margin: 0px;
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
}

.campsDropBtn {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 172px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #979797;
}
.downMenuArrow {
  -ms-transform: rotate(90deg) scale(2); /* IE 9 */
  -webkit-transform: rotate(90deg) scale(2); /* Safari 3-8 */
  transform: rotate(90deg) scale(2);
  opacity: 0.54;
}

.campsInnerContainer {
  width: 92%;
  margin-left: auto;
}

.campsInnerContainerTop {
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.campsTopTitles {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  color: #1e3089;
}

.campsHR {
  /* width: 890px; */
  width: 96%;
  border: solid 1px #bababa;
}

.campsRegisterBtn {
  width: 220px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.bottomTitles {
  margin-top: 28px;
  margin-bottom: 25px;
}

.campsTopTitlesInfo {
  margin-top: 0px;
  margin-bottom: 45px;
}

.campsInnerContainerBottom {
  width: 92%;
  margin-left: auto;
}
/* Footer */

.navbar .topBar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 68px;
  background-color: #1e3089;
}
.navbar .topBar .container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%;
}
.navbar .topBar .container .copyright {
  font-size: 14px;
  color: #ffffff;
  margin-right: auto;
}
.navbar .topBar .container .socialLink {
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .topBar .container .socialLinks {
  margin: 0px 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.navbar .topBar .container .socialLink #newsletter {
  /* background-image: url("assets/nav/donate-now.jpg");
  background-repeat: no-repeat;
  background-position: center; */
  width: 214px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  border: solid 1px #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.navbar .topBar .container .socialLink #facebook {
  background-image: url("assets/nav/facebook-icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.navbar .topBar .container .socialLink #twitter {
  background-image: url("assets/nav/twitter-icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.navbar .topBar .container .socialLink #email {
  background-image: url("assets/nav/email-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
}
.navbar .bottombar {
  background-image: url("assets/nav/dskp-footer.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%; */
  background-repeat: no-repeat;
  height: 122px;
  width: 100%;
}

/* SCHOOLS PAGE - MAP CONTAINER SETTING FOR DESKTOP */
.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

/* .App { */
/* text-align: center; */
/* } */

/* CUSTOM COLOR USED FOR FORMS */
/* .main-color-bg  {
  background-color: rgb(25, 40, 134) !important;
  border-color: black !important;
  color: #ffffff !important;
}
 */

/* NAVBAR SETTINGS */

/* .navbar  { */
/* margin-bottom: 0;
  border-radius: 0;
  padding: .5% 0;
  font-size: 1.1em;
  border: 0; */
/* } */
/*
.navbar-brand  {
  float: left;
  min-height: 65px;
  padding: 0 15px 5px;
}

.navbar-brand img  {
  height: 70px;
}
 */

/* Color Settings for Nav Bar */

/* .navbar { */
/* background-color: rgb(25, 40, 134);
  border-color: white; */
/* }
.navbar .navbar-brand {
  color: #f2f5f6;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #f2f5f6;
  font-weight: 500;
}
.navbar .navbar-nav > li > a {
  color: #f2f5f6;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: rgb(240, 68, 45);
}
.navbar .navbar-nav > li > .dropdown-menu {
  background-color: #e74c3c;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #f2f5f6;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #c0392b;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #f2f5f6;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border: 0px;
}
.navbar .navbar-link {
  color: #f2f5f6;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
} */

/* HOME PAGE IMAGE SETTINGS */

/* .homeImage {
  height: 100vh;
  width: 100vw;
} */

/* ADMIN PAGE SETTINGS */

/* HEADER */
/* #header {
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create {
 padding-top: 20px;
} */

/* BREADCRUMB */
/* .breadcrumb {
  background: #cccccc;
  color: #333333;
}

.breadcrumb a {
  color: #333333;
} */

/* WEBSITE OVERVIEW */
/* .overview {
  text-align: center;

} */

/* HOME PAGE SETTINGS */

/* .carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}


.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
} */

/* FEATURETTE SETTINGS */

/* .featurette-divider {
  margin: 80px 0;
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; */
/* } */

/* RESPONSIVE SETTINGS */

/* @media (min-width: 768px) { */

/* .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  } */

/* @media (min-width: 992px) {
    .featurette-heading {
      margin-top: 120px;
    }
  }
   */

/* SCHOOL EDIT PAGE */

/* .editSchool {
  margin-top: 10px;
} */
/***************************MOBILE*************************/
/***************************MOBILE*************************/
/***************************MOBILE*************************/

@media (max-width: 320px) {
  .topHead {
    /*display: hidden;*/
    background-size: contain;
    height: 41px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navLink {
    display: none;
  }
  .hamburgerMenuDiv {
    width: 21px;
    height: 14px;
    z-index: 9;
    top: 0;
  }
  .midHead .mainLogo {
    height: 29px;
    width: 117px;
    background-size: contain;
    background-position: center;
  }

  .midHead .helpBtn {
    display: none;
  }
  .textTitle {
    display: none;
  }
  .ourInfo .textPara {
    width: 288px;
    height: 76px;
    font-size: 16px;
  }
  .ourContainer {
    flex-direction: column;
  }
  .ourMoreInfo {
    flex-direction: column;
  }
  .ourMoreInfo .ourMoreInfoText {
    width: 288px;
    height: 52px;
    font-size: 18px;
    text-align: center;
  }
  .navbar .topBar .container .copyright {
    display: none;
  }
}
/***************************MOBILE END*********************/
/***************************MOBILE END*********************/
/***************************MOBILE END*********************/

/***********************CONTACT US**********************/

.contactContainer {
}
.contactTop {
  width: 65.5%;
  margin: 18px auto 18px auto;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  /*align-items: flex-start;*/
}
.contactPhoneFaxContainer {
  margin-left: 140px;
  display: flex;
  flex-direction: column;
}
.Phone,
.Fax {
  width: 100%;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #f5483a;
}
.contactPhoneNumber,
.contactFaxNumber {
  width: 125px;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  /*text-align: left;*/
  color: #000000;
  margin-left: 8px;
}
.contactFaxNumber {
  margin-top: 6px;
  margin-left: 30px;
}
.Contact-Serious-Fun {
  width: 410px;
  height: 39px;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #f5483a;
  margin-top: 45px;
  margin-bottom: 24px;
}
.Contact-A-Program-Lo {
  width: 430px;
  height: 34px;
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: #f5483a;
  margin-top: 56px;
  margin-bottom: -48px;
}
.contactTop .contactEmailBtn,
.contactEmailSignupBtn {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 32px;
  margin-top: 14px;
  margin-bottom: 24px;
  text-decoration: none;
}
.Sign-up-for-Serious {
  width: 640px;
  height: 46px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}
.afterSchoolLocationInfo .contactEmailBtn {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 32px;
  /*  margin-bottom: 24px;*/
  /*padding: 6px 50px;*/
  text-decoration: none;
}
.contactEmailContainer {
  display: flex;
  margin-top: 16px;
}
.contactSchoolLocationInfoText {
  width: 240px;
  height: 85px;
  font-size: 14px;
}
.contactHRVerticalLine {
  margin: 0px 40px;
  height: 608px;
}
