/* Lato font from Google */
@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: "Lato", sans-serif;
}

/* Nav Section */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topHead {
  background-image: url("assets/nav/dskp-header.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%; */
  background-repeat: no-repeat;
  height: 122px;
  width: 100%;
}

/* Logo, Search and Login/Registration */
.midHead {
  width: 100%;
  height: 124px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.midHead .container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.midHead .mainLogo {
  background-image: url("assets/nav/dskp-logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 307px;
  height: 123px;
  margin-right: auto;
}

.midHead .user {
  display: flex;
}

.midHead .user > * {
  margin: 0 1px;
}

.midHead .userAuth {
  font-size: 16px;
  text-decoration: none;
  color: #1e3089;
  font-weight: bold;
}
.midHead .helpBtn {
  width: 133px;
  height: 40px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  margin-right: 45px;
  text-align: center;
  background-color: #f5483a;
}

/* Navbar link */

.navLink {
  background-color: #1e3089;
  width: 100%;
  z-index: 1000;
}
.navLink .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
  width: 65.5%;
}
.navLink .navLinks {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding: 12px 19px;
  display: block;
  flex: 1;
  text-align: center;
}
.linkBox:hover .navLinks {
  background: #f5483a;
}

/* Nav - Drop Menu */

.navLink .linkBox {
  position: relative;
  margin: 0px -20px;
}

.dropdownMenu {
  visibility: hidden;
  width: 184px;
  height: 0px;
  background-color: #eeeeee;
  border: solid 1px #f5483a;
  padding: 13px 20px 19px 20px;
  position: absolute;
  left: 0;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  overflow: hidden;
  box-sizing: border-box;
}
.linkBox:hover .dropdownMenu {
  visibility: visible;
  height: 213px;
}
.linkBox:hover .regis {
  visibility: visible;
  height: 102px;
}

.dropdownMenu > * {
  display: flex;
  flex-direction: column;
}
.dropdownMenu .dropLinks {
  font-size: 16px;
  color: #f5483a;
  padding: 8px 7px;
}

/* Home Page Slides */

.slide {
  background-image: url("assets/slide/mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 466px;
  margin: auto;
}

.ourInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ourInfo .textTitle {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  color: #f5483a;
  margin: 24px 0px 8px 0px;
}
.ourInfo .textPara {
  width: 780px;
  height: 54px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}

.ourContainer {
  display: flex;
  justify-content: space-around;
  width: 63%;
  margin: 40px 0px 43px 0px;
}

.ourContainer .ourPic {
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 200px;
  padding: 8px 0px 8px 0px;
}

.ourContainer .ourClass .ourPic {
  background-image: url("assets/homeInfo/classes.jpg");
}
.ourContainer .ourHomeTeam .ourPic {
  background-image: url("assets/homeInfo/team.jpg");
}
.ourContainer .ourDifference .ourPic {
  background-image: url("assets/homeInfo/difference.jpg");
}

.ourContainer .ourTitle {
  font-size: 22px;
  font-weight: bold;
  color: #f5483a;
}
.ourContainer .ourText {
  font-size: 14px;
  width: 204px;
  height: 85px;
  margin: auto;
}

.ourMoreInfo {
  margin-bottom: 106px;
  display: flex;
  align-items: center;
  width: 58%;
}
.ourMoreInfo .ourMoreInfoText {
  width: 697px;
  height: 27px;
  font-size: 22px;
  font-weight: bold;
  color: #f5483a;
}
.ourMoreInfo .ourMoreInfoBtn {
  border: none;
  text-transform: uppercase;
  line-height: 31px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  width: 250px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  text-decoration: none;
}

/* About Us */

.aboutUs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.aboutUs .aboutUsPic {
  background-image: url("assets/slide/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 466px;
  margin: auto;
}

.aboutUs .aboutUsInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px 0px 43px 0px;
}

.aboutUs .aboutUsInfoContainer .infoOurTitle {
  height: 29px;
  font-size: 24px;
  font-weight: bold;
  color: #f5483a;
  padding: 0px 0px 6px 0px;
}
.aboutUsInfoMission,
.aboutUsInfoStaff,
.aboutUsInfoDifference {
  padding: 12px 0px;
}
.aboutUs .aboutUsInfoContainer .infoOurText,
.infoOurMoreInfo {
  width: 780px;
  font-size: 16px;
  color: #000000;
}
.aboutUs .aboutUsInfoContainer .infoOurMoreInfo {
  width: 780px;
  height: 68px;
  font-size: 14px;
  font-style: italic;
  color: #000000;
  padding: 16px 0px;
  margin-bottom: 37px;
}
.aboutUs .aboutUsInfoContainer .infoOurMoreInfo .infoOurMoreInfoLinks {
  font-weight: bold;
  color: #1e3089;
  text-decoration: none;
  font-style: normal;
}

/* Our Team */

.ourTeam {
  margin: 48px auto;
  width: 65%;
}

.ourTeam .ourTeamContainer .ourTeamTitle {
  height: 39px;
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
}
.ourTeam .ourTeamContainer .ourTeamFounderInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.ourTeam .ourTeamContainer .ourTeamFounderInfo > * {
  padding: 8px 12px 19px 0px;
}
.ourTeam .ourTeamContainer .ourTeamFounderInfo .ourTeamFounderText {
  width: 540px;
  height: 190px;
  font-size: 16px;
  color: #000000;
  padding: 8px 0px 0px 12px;
}

.ourTeam
  .ourTeamContainer
  .ourTeamFounderInfo
  .ourTeamFounderPicContainer
  .ourTeamFounderPic {
  background-image: url("assets/ourTeam/founder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 221px;
  height: 202px;
}
.ourTeam .ourTeamMemberPicCap p {
  margin: 0px;
  padding: 4px 10px;
  /* padding: 4px 0px; */
  font-weight: bold;
}
.ourTeam .ourTeamMemberPicCap p:last-child {
  padding: 0px 10px;
  font-style: italic;
  font-weight: normal;
}
.ourTeamMid,
.ourTeamBottom {
  padding: 19px 0px;
}
.ourTeamMid .ourTeamTitle,
.ourTeamBottom .ourTeamTitle {
  font-size: 24px !important;
}

.ourTeamMid .ourTeamMemberInfo,
.ourTeamBottom .ourTeamMemberInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ourTeam .ourTeamMemberPicContainer .ourTeamMemberPic {
  background-image: url("assets/ourTeam/staff.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 221px;
  height: 202px;
  padding: 4px 10px 0px 10px;
}
.ourTeam .ourTeamInfo {
  padding: 32px 0px 57px 0px;
}
.ourTeam .ourTeamInfo .ourTeamInfoText {
  width: 640px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.ourTeam .ourTeamInfo .ourTeamInfoBtn {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #1e3089;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 32px;
  margin: 8px 0px;
}

/* Work With Us */

.career .careerPic {
  background-image: url("assets/slide/bridge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 466px;
  background-color: rgba(0, 0, 0, 0.25);
}
.career .careerContainer {
  padding: 32px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.career .careerContainer .careerInfoBox {
  padding: 20px 0px 20px 0px;
}

.careerInfoBox .careerInfoTitle {
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
}
.careerInfoBox .careerInfoText {
  width: 780px;
  font-size: 16px;
}
.careerContainer .careerInfoBox .currentJob {
  font-size: 28px;
}

.careerContainer .careerInfoTextLocation {
  margin-left: 9%;
  display: flex;
  flex-direction: column;
}
.careerContainer .careerInfoTextLocationTitle {
  padding: 24px 0px 8px 0px;
  font-size: 18px;
  font-weight: bold;
}
.careerContainer .careerInfoTextLocationText {
  font-size: 16px;
}

/* After School */

.afterSchoolContainer {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
}

.afterSchoolTop {
  display: flex;
  justify-content: space-between;
  width: 66%;
  margin: 0 auto;
  padding: 10px 0px;
}

.afterSchoolContainer .afterSchoolTitle {
  font-size: 32px;
  font-weight: bold;
  color: #f5483a;
}
.afterSchoolTop .afterSchoolBtn {
  width: 172px;
  height: 32px;
  background-color: #ffffff;
  border: solid 1px #979797;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
.afterSchoolLocationContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.afterSchoolContainer .afterSchoolLocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.afterSchoolContainer .afterSchoolLocation .afterSchoolLocationTitle {
  font-size: 24px;
  font-weight: bold;
  color: #f5483a;
}
.afterSchoolLocation .afterSchoolLocationInfoTitle {
  font-size: 16px;
  font-weight: bold;
  color: #1e3089;
}
.afterSchoolLocation .afterSchoolLocationInfoText {
  width: 240px;
  height: 57px;
  font-size: 16px;
}

/* Footer */

.navbar .topBar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 68px;
  background-color: #1e3089;
}
.navbar .topBar .container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%;
}
.navbar .topBar .container .copyright {
  font-size: 14px;
  color: #ffffff;
  margin-right: auto;
}
.navbar .topBar .container .socialLink {
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .topBar .container .socialLinks {
  margin: 0px 5px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.navbar .topBar .container .socialLink #networkForGood {
  background-image: url("assets/nav/donate-now.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 117px;
  height: 39.8px;
}
.navbar .topBar .container .socialLink #facebook {
  background-image: url("assets/nav/facebook-icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.navbar .topBar .container .socialLink #twitter {
  background-image: url("assets/nav/twitter-icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.navbar .topBar .container .socialLink #email {
  background-image: url("assets/nav/email-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
}
.navbar .bottombar {
  background-image: url("assets/nav/dskp-footer.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%; */
  background-repeat: no-repeat;
  height: 122px;
  width: 100%;
}

/* .App { */
/* text-align: center; */
/* } */

/* CUSTOM COLOR USED FOR FORMS */
/* .main-color-bg  {
  background-color: rgb(25, 40, 134) !important;
  border-color: black !important;
  color: #ffffff !important;
}
 */

/* NAVBAR SETTINGS */

/* .navbar  { */
/* margin-bottom: 0;
  border-radius: 0;
  padding: .5% 0;
  font-size: 1.1em;
  border: 0; */
/* } */
/* 
.navbar-brand  {
  float: left;
  min-height: 65px;
  padding: 0 15px 5px;
}

.navbar-brand img  {
  height: 70px;
}
 */

/* Color Settings for Nav Bar */

/* .navbar { */
/* background-color: rgb(25, 40, 134);
  border-color: white; */
/* }
.navbar .navbar-brand {
  color: #f2f5f6;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #f2f5f6;
  font-weight: 500;
}
.navbar .navbar-nav > li > a {
  color: #f2f5f6;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: rgb(240, 68, 45);
}
.navbar .navbar-nav > li > .dropdown-menu {
  background-color: #e74c3c;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #f2f5f6;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #c0392b;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #f2f5f6;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border: 0px;
}
.navbar .navbar-link {
  color: #f2f5f6;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
} */

/* HOME PAGE IMAGE SETTINGS */

/* .homeImage {
  height: 100vh;
  width: 100vw;
} */

/* ADMIN PAGE SETTINGS */

/* HEADER */
/* #header {
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create {
 padding-top: 20px;
} */

/* BREADCRUMB */
/* .breadcrumb {
  background: #cccccc;
  color: #333333;
}

.breadcrumb a {
  color: #333333;
} */

/* WEBSITE OVERVIEW */
/* .overview {
  text-align: center;

} */

/* HOME PAGE SETTINGS */

/* .carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}


.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
} */

/* FEATURETTE SETTINGS */

/* .featurette-divider {
  margin: 80px 0; 
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; */
/* } */

/* RESPONSIVE SETTINGS */

/* @media (min-width: 768px) { */

/* .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  } */

/* @media (min-width: 992px) {
    .featurette-heading {
      margin-top: 120px;
    }
  }
   */

/* SCHOOL EDIT PAGE */

/* .editSchool {
  margin-top: 10px;
} */
